<div id="page-wrapper">
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-2">
      <h4>COLLECTIONS</h4>
    </div>
     <div class="col-md-3 col-md-offset-7">
      <%= link_to new_collection_path do %>
        <button type="button" class="btn btn-primary">+ ADD NEW COLLECTIONS</button>
      <% end %>
    </div>

<div class="col-md-10">
    <%= form_tag(collections_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Collections" %>
    <%= submit_tag "Search" %>
<% end %>
</div>
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Collection ID</th>
            <th>Collection Image</th>
            <th>Collection Name</th>
            <th>Products</th>
            <th>Status</th>
            <th>View</th>
            <th>Lookbook</th>
          </tr>
        </thead>
        <tbody>
          <% @collections.each_with_index do |collection, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><img src="<%= collection.image %>" alt="" class="image-product"></td>
                <td><%= collection.name_collections %></td>
                <td><%= collection.products.count %></td>
                <% if collection.status == true %>
                  <td>Active</td>
                <% else %>
                  <td>InActive</td>
                <% end %>
                <td><%= link_to "View", collection_path(collection.id) %></td>
                <% if collection.lookbook.present? %>
                  <td><%= link_to "Download", collection_path(collection.id, file: 1) %></td>
                <% else %>
                  <td>Don't have lookbook</td>
                <% end %>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<style>
.image-product {
  width: 100px;
  height: 100px;
}
</style>
