<div id="page-wrapper">
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-2">
      <h4>COLLECTIONS</h4>
    </div>
     <div class="col-md-3 col-md-offset-7">
      <%= link_to new_collection_path do %>
        <button type="button" class="btn btn-primary">+ ADD NEW COLLECTIONS</button>
      <% end %>
    </div>
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Collection ID</th>
            <th>Collection image</th>
            <th>Collection Name</th>
            <th>Products</th>
            <th>Status</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          <% @collections.each do |collection| %>
              <tr>
                <td><%= collection.id %></td>
                <td><img src="<%= collection.image %>" alt="" class="image-product"></td>
                <td><%= collection.name_collections %></td>
                <td>0</td>
                <td>Active</td>
                <td><%= link_to "View", collection_path(collection.id) %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<style>
.image-product {
  width: 100px;
  height: 100px;
}
</style>
