
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background: transparent;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/homes">Lesdapper</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <%= link_to 'Showrooms', homes_path %>
                    </li>
                    <li>
                        <%= link_to 'Brands', brands_path %>
                    </li>
                    <li>
                        <%= link_to 'Retailers', retailers_path %>
                    </li>
                    <li>
                        <%= link_to 'Blog', blogs_path %>
                    </li>
                    <li>
                        <%= link_to 'Contact', contacts_path %>
                    </li>

                    <li>
                        <%= link_to 'About', contacts_path %>
                    </li>


                    <% if user_signin %>
                      <% if user_signin_active %>
                        <li>
                          <%= link_to 'Site managers', homes_path %>
                        </li>
                      <% end %>
                      <li>
                          <%= link_to 'logout', destroy_user_session_path, :method => :delete %>
                      </li>
                    <% else %>
                      <li>
                          <%= link_to 'login', user_session_path %>
                      </li>
                      <li>
                          <%= link_to 'Signup', new_user_registration_path %>
                      </li>
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<style>
  .navbar-default{
border-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-brand{
  color: #fff;
}

</style>

