
    <%= render 'homepage/header' %>
<!-- Header -->
<!-- <header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To Our Fashion show!</div>
            <div class="intro-heading">It's Nice To Meet You</div>
            <%= link_to 'Get started', new_user_registration_path, class: 'page-scroll btn btn-xl' %>
        </div>
    </div>
</header> -->
<body>


<div id="Container_Carousel">
  <div class="rows">


   <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" style="
    margin-top: -120px;">

    <div id="carousel-example-generic-1" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>


      <div class="carousel-inner">

        <div class="item active">
          <img src="../assets/1.jpg" alt="First Slide">
          <div class="col-lg-9 carousel-caption">
              <h1>THE ONE WHOLESALE PLATFORM WHERE LEADING SHOWROOMS</br>
                AND THEIR BRANDS FROM ALL OVER THE WORLD MEET GLOBAL</br>
                  BUYERS</h1><%= link_to 'Get started', new_user_registration_path, class: 'page-scroll btn btn-xl' %>
            </div>

        </div>

        <div class="item">
         <img src="../assets/2.jpg" alt="Second Slide">
         <div class="col-lg-9 carousel-caption">
                        <h2>THE ONE WHOLESALE PLATFORM WHERE LEADING SHOWROOMS</br>
                AND THEIR BRANDS FROM ALL OVER THE WORLD MEET GLOBAL</br>
                  BUYERS</h2><%= link_to 'Get started', new_user_registration_path, class: 'page-scroll btn btn-xl' %>
      </div>
       </div>

       <div class="item">
         <img src="../assets/4.jpg" alt="Third Slide">
            <div class="intro-text">
            <div class="intro-lead-in">
              <div class="col-lg-9 carousel-caption">
        
                        <h2>THE ONE WHOLESALE PLATFORM WHERE LEADING SHOWROOMS</br>
                AND THEIR BRANDS FROM ALL OVER THE WORLD MEET GLOBAL</br>
                  BUYERS</h2><%= link_to 'Get started', new_user_registration_path, class: 'page-scroll btn btn-xl' %>
                  </div>
                  </h3>
                  </div>
                  </div>


      </div>
       </div>

     </div>


     <a class="left carousel-control" href="#carousel-example-generic-1" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-circle-arrow-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic-1" role="button" data-slide="next">
      <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  </div>

</div>
</div>
</div>

</br>
</br>
<!--  -->
<section>
<div class="container1">
    <div class="row">
        <!-- Boxes de Acoes -->
      <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">             
        <div class="icon">
            <span class="fa-stack fa-3x"></span>
<!--           <div class="image"><i class="fa fa-thumbs-o-up"></i></div> -->
          <div class="info">
            <b><h3 class="title">SHOWROOMS</h3></b>
            <p>
              •Show your brand’s collection to select buyers</br>
              •Take orders all year around</br>
              •Secure your commission via online transaction</br>
              •Increase your client network, meet buyers online</br>
              •Introduce your brands to buyers year around</br>
              •Book appointments for your market dates</br>
              •Sign up brands exclusively for online management</br>
              •Increase your revenue basis</br>
            </br>
            </br>
            </br>
            </br>
            </p>
            <div class="more">
              <a href="#" title="Title Link">
                <%= link_to 'Get started', showrooms_path %> <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="space"></div>
      </div> 
    </div>
      
        <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">             
        <div class="icon">
          <span class="fa-stack fa-3x"></span>
          <div class="info">
            <b><h3 class="title">BRANDS</h3></b>
              <p>
              •Be introduced to market by some of the best showrooms around the world</br>
              •Collections are maintained online by showroom, products are uploaded quickly and efficiently</br>
•Review prospect retailers and follow through prospection with your showroom</br>
•Be visible year around to retailers who can scount your collections</br>
•Secure your revenues via onlinetransactions, do not worry about getting paid!</br>
•Receive orders online in pre-order and post-market dates</br>
  </br>
            </p>
            <div class="more">
              <a href="#" title="Title Link">
                <%= link_to 'Get started', brands_path %> <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="space"></div>
      </div> 
    </div>
      
        <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">             
        <div class="icon">
         <!--  <div class="image"><i class="fa fa-desktop"></i></div> -->
         <span class="fa-stack fa-3x"></span>
          <div class="info">
            <b><h3 class="title">RETAILERS</h3></b>
              <p>
                •Locate showrooms for your market week visits</br>
•Book showroom appointments</br>
•Scout and keyword search collections prior market dates</br>
•Showrooms selection’s reduce your search time as your trusted partner knows what you are looking for</br>
•Place orders online in pre-order, re-order and in market</br>
•Reduce mistakes in ordering</br>
•Shop several brands with one simple checkout</br>
</br>
</br>
</br>
</br>
            </p>
            <div class="more">
              <a href="#" title="Title Link">
                <%= link_to 'Get started', retailers_path %> <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="space"></div>
      </div> 
    </div>        
    <!-- /Boxes de Acoes -->
    <div class="col-md-4 col-lg-4 portfolio-item">
        <img src="../assets/homepage1.gif">
    </div>
    <div class="col-md-4 col-lg-4 portfolio-item">
        <img src="../assets/homepage2.gif">
    </div>
    <div class="col-md-4 col-lg-4 portfolio-item">
        <img src="../assets/homepage3.gif">
    </div>



</section>
<!--  -->
<!--  -->
<section id="portfolio" class="bg-light-gray">
  <div class="">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">LESDAPPER IS AN EXCEPTIONAL FASHION NETWORK</h2>
                    <h3 class="section-subheading text-muted">A GREAT LINE-UP OF INTERNATIONAL SHOWROOMS, THEIR SELECT BRANDS AND OVER 10,000 RETAILERS</h3>
                </div>
            </div>
            <div id="Container_Carousel">
  <div class="rows">


   <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" >

    <div id="carousel-example-generic-2" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <img src="../assets/5.jpg" alt="First Slide">
        </div>

        <div class="item">
         <img src="../assets/6.jpg" alt="Second Slide">
       </div>

       <div class="item">
         <img src="../assets/7.jpg" alt="Third Slide">
       </div>

     </div>

     <!-- Controls -->
     <a class="left carousel-control" href="#carousel-example-generic-2" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-circle-arrow-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic-2" role="button" data-slide="next">
      <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  </div>

</div>
</div>
</div>
</section>


<section>
    <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">SHOW TIME</h2>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                  <img src="../assets/showdate1.jpg" class="img-responsive" alt="">
                </div>
              <div class="col-md-4 col-sm-6 portfolio-item">
                <img src="../assets/showdate2.jpg" class="img-responsive" alt="">
              </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
              <img src="../assets/showdate4.jpg" class="img-responsive" alt="">
          </div>


          <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">PARIS SS18 WOMEN’S
                    PRE-COLLECTIONS & SOFT COUTURE – IMONI SHOWROOM PARIS</h4>
                    <p class="text-muted">1ST – 3RD JULY, 2017</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">PARIS SS18 WOMEN’S MAIN COLLECTIONS – IMONI SHOWROOM PARIS</h4>
                    <p class="text-muted">29TH SEPT - 2ND OCT, 2017</p>
                </div>
                <div class="col-md-4">
                 <!--    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                  -->   <h4 class="service-heading">PARIS FW18-19 WOMEN’S PRE-COLLECTIONS - IMONI SHOWROOM PARIS</h4>
                  </br>
                    <p class="text-muted">19TH - 22ND JAN, 2017</p>
                </div>
            </div>

            </div>
            </div>

</section>
 <%= render 'homepage/footer' %>

</body>




<style>

@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Roboto:400,500";

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #4466e4; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #4466e4; }
.box .space { height: 30px; }
  .header_login {
    display: none;
  }
  .slidebar_login {
    display: none;
  }

  /* SLIDER */
#Container_Carousel .rows .col-xs-12{
  margin:0;
  padding:0;
}

#Container_Carousel{
  margin:0;
  padding:0;
  width:100%;
  max-height: 850px;
}

.item img{
  width:100%;
  max-height: 850px;
}

.carousel,.item,.active{
  height:100%;
}

.carousel-inner{
  height:100%;
}

.carousel-control.left, .carousel-control.right {
    background-image:none;
}
.glyphicon-circle-arrow-left {
  position: absolute;
  top: 50%;
  font-size: 50px;
  opacity: 0.5;
  left: 50px;
}
.glyphicon-circle-arrow-right {
  position: absolute;
  top: 50%;
  font-size: 50px;
  opacity: 0.5;
  right: 50px;
}
img {
    width: 100%;
}


.carousel-content {
  position: absolute;
  bottom: 40%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel-caption {
    left: 11%;
    padding-bottom: 30px;
    height: 80%;
}
/*slider*/
</style>
