<div id="page-wrapper" >
  <%= form_tag({controller: "/profiles", action: "update"}, method: "put", multipart: true, class: "form-horizontal form-label-left form") do %>
    <div class="form-group" style="margin-top: 40px; margin-left: 15px;">
      <label for="file">Logo</label>
      <input type="file" class="form-control" id="file" name="avatar">
    </div>
    <div class="form-group" style="margin-left: 15px;">
      <label for="company">Company:</label>
      <input type="text" class="form-control" id="company" name="company" value="<%= @profile.company %>">
    </div>

    <div class="form-group" style="margin-left: 15px;">
      <label for="website">Company website:</label>
      <input type="text" class="form-control" id="website" name="website" value="<%= @profile.website %>">
    </div>

    <div class="form-group" style="margin-left: 15px;">
      <label for="address">Addresss:</label>
      <input type="text" class="form-control" id="address" name="address" value="<%= @profile.address %>">
    </div>

    <div class="form-group" style="margin-left: 15px;">
      <label for="zip_code">Zip code:</label>
      <input type="text" class="form-control" id="zip_code" name="zip_code" value="<%= @profile.zip_code %>">
    </div>

    <div class="form-group" style="margin-left: 15px;">
      <label for="country">Country:</label>
      <input type="text" class="form-control" id="country" name="country" value="<%= @profile.country %>">
    </div>

    <div class="form-group" style="margin-left: 15px;">
      <label for="firstname_contact">First name contact:</label>
      <input type="text" class="form-control" id="firstname_contact" name="firstname_contact" value="<%= @profile.firstname_contact %>">
    </div>

    <div class="form-group" style="margin-left: 15px;">
      <label for="lastname_contact">Last name contact:</label>
      <input type="text" class="form-control" id="lastname_contact" name="lastname_contact" value="<%= @profile.lastname_contact %>">
    </div>

    <div class="form-group" style="margin-left: 15px;">
      <label for="phone">Phone number:</label>
      <input type="text" class="form-control" id="phone" name="phone" value="<%= @profile.phone %>">
    </div>

    <div class="form-group" style="margin-left: 15px;">
      <label for="dsc">Description:</label>
      <textarea class="form-control" rows="5" id="dsc" name="description">
        <%= @profile.description %>
      </textarea>
    </div>
    <button type="submit" class="btn btn-default" style="margin-left: 15px;">Update</button>
  <% end %>
</div>
