<div id="page-wrapper">
  <div class="row" style="margin-top: 20px; border-bottom: 1px solid black;">
    <div class="col-md-2">
      <h4>PROFILE</h4>
    </div>
    <div class="col-md-3 col-md-offset-7">
      <%= link_to edit_profile_path(@profile.id) do %>
        <button type="button" class="btn btn-primary">+ EDIT PROFILE</button>
      <% end %>
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-5" style="border-right: 1px solid black; height: 70vh;">
      <% if @profile.avatar.blank? %>
        <img src="/img/user.jpg" alt="" style="width: 100%; height: auto;">
      <% else %>
        <img src="<%= @profile.avatar %>" alt="" style="width: 100%; height: auto;">
      <% end %>
    </div>
    <div class="col-md-7" style="padding-left:20px;">
      <h4 style="color:red;">Company:</h4>
      <p style="font-size:18px; padding-left:20px;"><%= @profile.company %></p>
      <h4 style="color:red;">Email:</h4>
      <p style="font-size:18px; padding-left:20px;"><%= @profile.email %></p>
      <h4 style="color:red;">Contact name:</h4>
      <p style="font-size:18px; padding-left:20px;"><%= @profile.firstname_contact %> <%= @profile.lastname_contact %></p>
      <h4 style="color:red;">Website:</h4>
      <p style="font-size:18px; padding-left:20px;"><%= @profile.website %></p>
      <h4 style="color:red;">Address:</h4>
      <p style="font-size:18px; padding-left:20px;"><%= @profile.address %></p>
      <h4 style="color:red;">Zip code:</h4>
      <p style="font-size:18px; padding-left:20px;"><%= @profile.zip_code %></p>
      <h4 style="color:red;">Country:</h4>
      <p style="font-size:18px; padding-left:20px;"><%= @profile.country %></p>
      <h4 style="color:red;">Phone number:</h4>
      <p style="font-size:18px; padding-left:20px;"><%= @profile.phone %></p>
    </div>
  </div>
</div>
