<form action="/connections" method="POST">
<div id="page-wrapper">
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-2">
      <% if current_user.type_user == 0 %>
        <h4>RETAILERS</h4>
      <% elsif current_user.type_user == 1 %>
        <h4>BRANDS</h4>
      <% end %>
    </div>
    <div class="col-md-3 col-md-offset-7">
      <button type="submit" class="btn btn-primary">+ CONNECT</button>
    </div>
</div>
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Logo</th>
            <th>Name</th>
            <th>Connect</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          <% @retaillers.each do |retailler| %>
              <tr>
                <td><%= retailler.id %></td>
                <% if retailler.user.present? %>
                  <% if retailler.user.avatar.blank? %>
                    <td><img src="/img/user.jpg" alt="" class="image-product"></td>
                  <% else %>
                    <td><img src="<%= retailler.user.avatar %>" alt="" class="image-product"></td>
                  <% end %>
                  <td><%= retailler.name %></td>
                  <td><input type="checkbox" value="<%= retailler.id %>" name="retailler[]">Connect</td>
                  <td><%= link_to "View", profile_path(retailler.user.id) %></td>
                <% end %>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</form>
<style>
.image-product {
  width: 100px;
  height: 100px;
}
</style>
