<div id="page-wrapper">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Connected Follower</a></li>
    <li><a data-toggle="tab" href="#menu">Sent Connect</a></li>
    <li><a data-toggle="tab" href="#menu1">Connecting</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Logo</th>
              <th>Name</th>
              <th>Connect</th>
              <th>View Profile</th>
              <% if current_user.type_user == 1 %>
                <th>View Collection</th>
              <% end %>
              <th>Delete Connect</th>
            </tr>
          </thead>
          <tbody>
            <% if current_user.type_user == 0 %>
              <% @connected.each_with_index do |connect, index| %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <% if connect.retailler.user.avatar.blank? %>
                      <td><img src="/img/user.jpg" alt="" class="image-product"></td>
                    <% else %>
                      <td><img src="<%= connect.retailler.user.avatar %>" alt="" class="image-product"></td>
                    <% end %>
                    <td><%= connect.retailler.name %></td>
                    <td>Connected</td>
                    <td><%= link_to "View", profile_path(connect.retailler.user.id) %></td>
                    <td><%= link_to "Delete Connect", connection_path(connect.id), :method => :delete %></td>
                  </tr>
              <% end %>
            <% elsif current_user.type_user == 1 %>
              <% @connected.each_with_index do |connect, index| %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <% if connect.brand.user.avatar.blank? %>
                      <td><img src="/img/user.jpg" alt="" class="image-product"></td>
                    <% else %>
                      <td><img src="<%= connect.brand.user.avatar %>" alt="" class="image-product"></td>
                    <% end %>
                    <td><%= connect.brand.name %></td>
                    <td>Connected</td>
                    <td><%= link_to "View", profile_path(connect.brand.user.id) %></td>
                    <td><%= link_to "View Collections", collection_brand_path(connect.brand.id) %></td>
                    <td><%= link_to "Delete Connect", connection_path(connect.id), :method => :delete %></td>
                  </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

     <div id="menu" class="tab-pane fade in">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Logo</th>
              <th>Name</th>
              <th>Connect</th>
              <th>View</th>
            </tr>
          </thead>
          <tbody>
            <% if current_user.type_user == 0 %>
              <% @connecter.each_with_index do |connect, index| %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <% if connect.retailler.user.avatar.blank? %>
                      <td><img src="/img/user.jpg" alt="" class="image-product"></td>
                    <% else %>
                      <td><img src="<%= connect.retailler.user.avatar %>" alt="" class="image-product"></td>
                    <% end %>
                    <td><%= connect.retailler.name %></td>
                    <td>Sent connect</td>
                    <td><%= link_to "View", profile_path(connect.retailler.user.id) %></td>
                  </tr>
              <% end %>
            <% elsif current_user.type_user == 1 %>
              <% @connecter.each_with_index do |connect, index| %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <% if connect.brand.user.avatar.blank? %>
                      <td><img src="/img/user.jpg" alt="" class="image-product"></td>
                    <% else %>
                      <td><img src="<%= connect.brand.user.avatar %>" alt="" class="image-product"></td>
                    <% end %>
                    <td><%= connect.brand.name %></td>
                    <td>Sent connect</td>
                    <td><%= link_to "View", profile_path(connect.brand.user.id) %></td>
                  </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>


    <div id="menu1" class="tab-pane fade">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Logo</th>
              <th>Name</th>
              <th>Connect</th>
              <th>View</th>
            </tr>
          </thead>
          <tbody>
            <% if current_user.type_user == 0 %>
              <% @connecting.each_with_index do |connect, index| %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <% if connect.retailler.user.avatar.blank? %>
                      <td><img src="/img/user.jpg" alt="" class="image-product"></td>
                    <% else %>
                      <td><img src="<%= connect.retailler.user.avatar %>" alt="" class="image-product"></td>
                    <% end %>
                    <td><%= connect.retailler.name %></td>
                    <td>Sent connect</td>
                    <td><%= link_to "View", profile_path(connect.retailler.user.id) %></td>
                  </tr>
              <% end %>
            <% elsif current_user.type_user == 1 %>
              <% @connecting.each_with_index do |connect, index| %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <% if connect.brand.user.avatar.blank? %>
                      <td><img src="/img/user.jpg" alt="" class="image-product"></td>
                    <% else %>
                      <td><img src="<%= connect.brand.user.avatar %>" alt="" class="image-product"></td>
                    <% end %>
                    <td><%= connect.brand.name %></td>
                    <td>Sent connect</td>
                    <td><%= link_to "View", profile_path(connect.brand.user.id) %></td>
                  </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<style>
.image-product {
  width: 100px;
  height: 100px;
}
</style>
