<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<style>
/*body
{
    background-color: #1b1b1b;
    padding-top: 40px;
}*/
.form-signin {
    max-width: 200px;
    padding: 15px;
    margin: 10px;
    margin-top: 40px;
  }

/*.input-group-addon
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-control:focus
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.panel-default {
opacity: 0.8;
/*margin-top:30px;*/
}*/
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }
# .fullscreen_bg {
#     position: fixed;
#     top: 0;
#     right: 0;
#     bottom: 0;
#     left: 0;
#     background-size: cover;
#     background-position: 10% 10%;
#     background:url('http://www.wallpaperup.com/uploads/wallpapers/2017/09/18/1099286/6513940df6f631e60140d43e229e1b2d.jpg');{
#       width: 100%;
#       height: 100%;
#     }
#     background-repeat:repeat;
#   }
body{
  background:url('http://www.wallpaperup.com/uploads/wallpapers/2017/09/18/1099286/6513940df6f631e60140d43e229e1b2d.jpg');
  background-size:100% 100%;
  background-attachment: fixed;
  background-repeat:no-repeat;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 40px;
}
.panel-default {
opacity: 0.9;
/*margin-top:30px;*/
}
</style>
