<form action="/active_networks" method="POST">
<div id="page-wrapper">
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-2">
      <h4>RETAILERS</h4>
    </div>
    <div class="col-md-3 col-md-offset-7">
      <button type="submit" class="btn btn-primary">+ ACCEPT CONNECT</button>
    </div>
</div>
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Logo</th>
            <th>Name</th>
            <th>Connect</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          <% if current_user.type_user == 0 %>
            <% @actives.each_with_index do |active, index| %>
                <tr>
                  <td><%= index + 1 %></td>
                  <% if active.retailler.user.avatar.blank? %>
                    <td><img src="/img/user.jpg" alt="" class="image-product"></td>
                  <% else %>
                    <td><img src="<%= active.retailler.user.avatar %>" alt="" class="image-product"></td>
                  <% end %>
                  <td><%= active.retailler.name %></td>
                  <td><input type="checkbox" value="<%= active.id %>" name="active[]">Connecting</td>
                  <td><%= link_to "View", profile_path(active.retailler.id) %></td>
                </tr>
            <% end %>
          <% elsif current_user.type_user == 1 %>
            <% @actives.each_with_index do |active, index| %>
                <tr>
                  <td><%= index + 1 %></td>
                  <% if active.brand.user.avatar.blank? %>
                    <td><img src="/img/user.jpg" alt="" class="image-product"></td>
                  <% else %>
                    <td><img src="<%= active.brand.user.avatar %>" alt="" class="image-product"></td>
                  <% end %>
                  <td><%= active.brand.name %></td>
                  <td><input type="checkbox" value="<%= active.id %>" name="active[]">Connecting</td>
                  <td><%= link_to "View", profile_path(active.brand.id) %></td>
                </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</form>
<style>
.image-product {
  width: 100px;
  height: 100px;
}
</style>
