<div id="page-wrapper">
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-2">
      <h4>PRODUCTS</h4>
    </div>
    <div class="col-md-3 col-md-offset-4">
      <button type="button" class="btn btn-default">DOWNLOAD PRODUCT LIST</button>
    </div>
     <div class="col-md-3">
      <%= link_to new_product_path, data: {"turbolinks" => false}  do %>
        <button type="button" class="btn btn-primary">+ ADD NEW PRODUCT</button>
      <% end %>
    </div>
<!--     <div class="col-md-12">
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
    </div> -->

<div class="col-md-10">
    <%= form_tag(products_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
    <%= submit_tag "Search" %>
<% end %>
</div>

    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Name</th>
            <th>Style Code</th>
            <th>Sell Type</th>
            <th>Gender</th>
            <th>Status</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
         <% @products.each do |product| %>
          <tr>
            <td><img src="<%= product.image %>" class="image-product"></td>
            <td><%= product.name_products %></td>
            <td><%= product.code %></td>
            <td>Pre-Order</td>
            <td>Men</td>
            <td>Active</td>
            <td><%= link_to "View", product_path(product.id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<style>
.image-product {
  width: 100px;
  height: 100px;
}
#myInput {
  background-image: url('img/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>
