<div id="page-wrapper">
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-7">
      <h4>COLLECTIONS</h4>
    </div>
    <div class="col-md-4">
      <% if @check %>
        <form class="form-horizontal form-label-left form" method="POST" action="/collection_brand?id=<%=@brand.id%>" accept-charset="utf-8">
          <b>You don't have new card for this brand</b>
          <button type="submit" class="btn btn-primary">+ CREATE CARD</button>
        </form>
      <% end %>
    </div></br>
<div class="col-md-10">
</div>
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Collection ID</th>
            <th>Collection Image</th>
            <th>Collection Name</th>
            <th>Products</th>
            <th>Status</th>
            <th>View</th>
            <th>Lookbook</th>
            <th>Products</th>
          </tr>
        </thead>
        <tbody>
          <% @collections.each_with_index do |collection, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><img src="<%= collection.image %>" alt="" class="image-product"></td>
                <td><%= collection.name_collections %></td>
                <td><%= collection.products.count %></td>
                <td>Active</td>
                <td><%= link_to "View", collection_path(collection.id) %></td>
                <td><%= collection.lookbook %></td>
                <td><%= link_to "View Products", product_brand_path(collection.id) %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<style>
.image-product {
  width: 100px;
  height: 100px;
}
</style>
