<div id="page-wrapper">
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-8">
      <h3>PRODUCTS</h3>
    </div>
    </div></br>

    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Name</th>
            <th>Style Code</th>
            <th>Sell Type</th>
            <th>Gender</th>
            <th>Status</th>
            <th>View</th>
            <% if @check %>
              <th>Number</th>
              <th>Order</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
         <% @products.each do |product| %>
          <tr>
            <td><img src="<%= product.image %>" class="image-product"></td>
            <td><%= product.name_products %></td>
            <td><%= product.code %></td>
            <td><%= product.type_sell %></td>
            <td><%= product.gender.gsub!("[", "").gsub!("]", "") %></td>
            <% if product.active == true %>
              <td>Active</td>
            <% else %>
              <td>InActive</td>
            <% end %>
            <td><%= link_to "View", product_path(product.id) %></td>
            <% if @check %>
              <form method="POST" action="/product_brand?id=<%=@brand.id%>">
                <input type="hidden" value="<%= product.id %>" name="product">
                <td><input type="number" name="number" size="4" required="true"></td>
                <td><button type="submit" class="btn btn-primary">Order</button></td>
              </form>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<style>
.image-product {
  width: 100px;
  height: 100px;
}
#myInput {
  background-image: url('img/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

input[type="number"] {
  width:50px;
}
</style>
